body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: mediumvioletred;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.white-bg {
  background-color: #fff;
  color: mediumvioletred;
  font-family: serif;
  padding: 20px;
  border-radius: 8px;
}

.teal-bg {
  background-color: teal;
  color: #fff;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 8px;
}

.steelblue-bg {
  background-color: steelblue;
  color: #fff;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 8px;
}

.monospace-font {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}
